body, html {
    font-size: 18px;
    font-family: Trebuchet MS;
    background-image: linear-gradient(to right, orange , red);
  text-align: center;
}
form, textarea{
  
  text-align: center;
  font-size: 14px;
}
form, button {
  display: block;
  margin: 0 auto;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
  }
