
{% extends 'layout.html' %}

{% block body %}

<!-- paragraph with app instruction -->
<p>Paste in the box, in .txt format, a text, and click on FIND button to find out which are the 10 most common words used
</p>

<!-- add form tag with text area and buttons inside-->
<form method="post" action="/commonwords/">
    <div class="field">
      <textarea id="inputText" name="content" rows="10" cols="50" placeholder="Paste the text here">{{ content }}</textarea>
      <button type="submit">FIND</button>
      <button type="button" onclick="resetTextArea()">RESET</button>
    </div>
</form>

<!-- paragraph to explain results -->
<p>Times used and words:
</p>

<p id='k'>{{ commonwords }}</p>
</div>

<!--add function to RESET button-->
<script>
function resetTextArea() {
  document.getElementById("inputText").value = "";
}
</script>

{% endblock %}
