{%extends "layout.html"%}
{%block content%}
<div class="portfolio">
  <h1>PORTFOLIO</h1>
  <p>here some of my projects</p>
  <ul>
    <li><a href="https://images.google.com/">
      link example to google images</a>
    <li><a href="https://news.google.com/">
      link example to google news</a>
    <li><a href="https://news.google.com/">
      Web mapping interactive mapping of population and vulcanoes</a>
    <li><a href="https://news.google.com/">
      Controlling webcam and detecting objects</a>
    <li><a href="https://news.google.com/">
      GUI:book database</a>

    </li>
  </ul>
</div>
{%endblock%}
